* {
  box-sizing: border-box;
}
p {
  text-align: center;
}
.csv-input {
  padding: 10px;
  display: block;
  margin: 15px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.add-new-form {
  display: block;
  text-align: center;
}

.add-new-form input{
  margin: 0 3px
}